@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./styles/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
  font-family: Overpass, 'Avignon Pro', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-synthesis-weight: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

@layer base {

  :root  {
    --background: 316 100% 95%;
    --foreground: 316 5% 0%;
    --card: 316 50% 90%;
    --card-foreground: 316 5% 10%;
    --popover: 316 100% 95%;
    --popover-foreground: 316 100% 0%;
    --primary: 316 70.7% 67.8%;
    --primary-foreground: 0 0% 0%;
    --secondary: 316 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 278 30% 85%;
    --muted-foreground: 316 5% 35%;
    --accent: 278 30% 80%;
    --accent-foreground: 316 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 316 5% 90%;
    --border: 180 5% 84%;
    --input: 180 5% 84%;
    --ring: 316 70.7% 67.8%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 316 50% 5%;
    --foreground: 316 5% 90%;
    --card: 316 50% 0%;
    --card-foreground: 316 5% 90%;
    --popover: 316 50% 5%;
    --popover-foreground: 316 5% 90%;
    --primary: 316 70.7% 67.8%;
    --primary-foreground: 0 0% 0%;
    --secondary: 316 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 278 30% 15%;
    --muted-foreground: 316 5% 60%;
    --accent: 278 30% 15%;
    --accent-foreground: 316 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 316 5% 90%;
    --border: 316 30% 18%;
    --input: 316 30% 18%;
    --ring: 316 70.7% 67.8%;
    --radius: 0.5rem;
  }
  
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}